.bodyLogin {
        height: 100%;
	}


.made{	
	color:#fff;	
	font-size:14px;
	font-weight :bold;
}

#madeHearth{
    width: 5%;
}

img{
    width: auto;
    height: auto;    
}

.mapboxgl-popup {
   width: 100%;
   height: 60%;
}

.formsSimple{
	background-color:transparent;
	width:30%;
	border-style:ridge;
	border-width:thin;
	position:center ; 
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight : bold;
}


@media screen and (max-width:760px) {

    img{
        width: 100%;
        height: auto;    
    }
    .formsSimple{
        background-color:transparent;
        width:60%;
        border-style:ridge;
        border-width:thin;
        position:center ; 
        text-align:center;
        color : Black;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        font-style:normal;
        font-weight : bold;
    }
    
}

.forms{
	background-color:transparent;
	width:80%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:normal;
}

.control{
	background-color:transparent;
	width:40%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style:normal;
}


.dataGrids{
	width:80%;
    height:300;
	border-style:ridge;
	border-width:thin;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.googleImage{
	width:10%;
    height:100;
}


.campos{
    font: normal 16px sans-serif;
}



.terminos{
    font: normal 13px sans-serif;
    text-align: justify;
}

.loginboton {
    font-size:14px;
    font-weight: bold;
    background: #4387FD;
    border: 10px solid #4387FD;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 20px;
	float:center;
	color:#FFF;
	text-decoration:none;

}