.bodyLogin {
		height: 100%;
		background-color: #ffffff;
		background-image: url("../Images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../Images/bg.jpg");
		background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../Images/bg.jpg");
		background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../Images/bg.jpg");
		background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../Images/bg.jpg");
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover;
		background-position: top left,		center center,		bottom center;
		background-attachment: fixed,			fixed,				fixed;
	}


.made{	
	color:#fff;	
	font-size:14px;
	font-weight :bold;

}



.formsSimple{
	background-color:transparent;
	width:30%;
	border-style:ridge;
	border-width:thin;
	position:center ; 
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight : bold;
}

@media screen and (max-width:500px) {
 
    .formsSimple{
        background-color:transparent;
        width:60%;
        border-style:ridge;
        border-width:thin;
        position:center ; 
        text-align:center;
        color : Black;
        font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        font-style:normal;
        font-weight : bold;
    }
    
}

.forms{
	background-color:transparent;
	width:80%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style:normal;
}

.control{
	background-color:transparent;
	width:40%;
	border-style:ridge;
	border-width:thin;
    position:center;
	text-align:center;
	color : Black;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style:normal;
}


.dataGrids{
	width:80%;
    height:300;
	border-style:ridge;
	border-width:thin;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.googleImage{
	width:10%;
    height:100;
}


.campos{
    font: normal 16px sans-serif;
}

.terminos{
    font: normal 13px sans-serif;
    text-align: justify;
}

.loginboton {
    font-size:14px;
    font-weight: bold;
    background: #4387FD;
    border: 10px solid #4387FD;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 20px;
	float:center;
	color:#FFF;
	text-decoration:none;

}